.file-upload-component
    strip-loader(v-bind:load="load")
    .action-container.padding-15
        form(id="file-form",  enctype="multipart/form-data", action=action, method="POST")
            input(type="hidden"  name="afile" value="30000")
            input(name="afile" type="file" style="visibility: hidden" ref='file-select')
            button(@click='onSelectFile' ref='select-file') {{selectedFileName}}
            button(type="button" id="upload-button" value="Send File" @click="onSend") {{onSendText}}


    .images-container.padding-15
        div.img(v-for="url in urls",  v-img="url", @click="click(url)")