.file-upload-component
  display block
  button
    background: white;
    padding: 8px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    min-width: 160px;
    display: block;
    margin-bottom: 8px;
    width: 180px;
    overflow: hidden;
    white-space nowrap;
    text-overflow: ellipsis;
    &:active
      background: #e8e8e8;
  .images-container
    text-align center
    .img
      display inline-block
      margin 10px
      width 200px
      height 140px
      img
        width 100%
        height 100%