@import "../../styl/constant.styl"
.bookmark-component
  //margin  10px 0
  display flex
  background white
  border-bottom 1px solid #eaf1ff
  a
    padding   8px 15px
    color $color-border-text
    text-decoration none
    border-bottom  3px solid transparent
    transition 0.5s
    display block
    &.router-link-active
      color $color-bookmark-active
      border-bottom  3px solid $color-bookmark-active
      text-decoration none
    &:hover
      color $color-bookmark-hover
      background-color $color-bookmark-bacggound-hover