.bookmark-component
	router-link(to='/home') Home
	router-link(to='/radar') Radar
	router-link(to='/ired') Ired
	router-link(to='/visible') Visible
	router-link(to='/meteosat') Meteosat
	router-link.android(to='/android') Android
