.bookmark-component
	router-link(to='/home') Home
	router-link(to='/radar') Radar
	router-link(to='/borispol') Borispol
	router-link(to='/ired') {{'INFRARED'  | translate}}
	router-link(to='/visible') {{'VISIBLE' | translate}}
	router-link(to='/meteosat') Meteosat
	router-link(to='/informer') {{'INFOMOMETRS' | translate}}
	router-link(to='/earth') {{'EARTH' | translate}}
	router-link(to='/sunshine') Sunshine
	router-link.android(to='/android') Android

	.list-btn
		.btn(@click="onMenu($event)" v-img='listIco' )
	.list(@click="$event.stopPropagation()" v-if='isMenuShow')

		router-link(to='/fileupload') {{'BACKGROUND_UPLOAD' | translate}}
		//router-link(to='/setting') {{'SETTING' | translate}}
