.bookmark-component
	router-link(to='/home') Home
	router-link(to='/radar') Radar
	router-link(to='/ired') {{'INFRARED'  | translate}}
	router-link(to='/visible') {{'VISIBLE' | translate}}
	router-link(to='/meteosat') Meteosat
	router-link(to='/infomometr') {{'INFOMOMETRS' | translate}}
	router-link.android(to='/android') Android
	router-link(to='/fileupload') {{'BACKGROUND_UPLOAD' | translate}}
