<div class="informer-component">

    <div id="gsInformerID-Qmw1fy8cwa3o0A" class="gsInformer" style="width:240px;height:227px">
        <div class="gsIContent">
            <div id="cityLink">
                <a href="https://www.gismeteo.ua/weather-kyiv-4944/" target="_blank" title="Погода в Киеве">
                    <img src="https://www.gismeteo.ua/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Киеве">
                </a>
            </div>
            <div class="gsLinks">
                <table>
                    <tr>
                        <td>
                            <div class="leftCol">
                                <a href="https://www.gismeteo.ua/" target="_blank" title="Погода">
                                    <img alt="Погода" src="https://www.gismeteo.ua/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                    <img src="https://www.gismeteo.ua/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                                </a>
                            </div>
                            <div class="rightCol">
                                <a href="https://www.gismeteo.ua/weather-kyiv-4944/2-weeks/" target="_blank" title="Погода в Киеве на 2 недели">
                                    <img src="https://www.gismeteo.ua/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Киеве на 2 недели">
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
