<div>
    ololo

    <!-- Gismeteo Informer (begin) -->
    <div id="GMI_240x90-2_ru" class="gm-info">
        <div style="position:relative;width:240px;height:90px;border:solid 1px;background:#F5F5F5;border-color:#EAEAEA #E4E4E4 #DDDDDD #E6E6E6;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
            <a style="font:11px/13px Arial,Verdana,sans-serif;text-align:center;text-overflow:ellipsis;text-decoration:none;display:block;overflow:hidden;margin:2px 3px;color:#0678CD;" href="https://www.gismeteo.ua/weather-kyiv-4944/">Киев</a>
            <a style="font:9px/11px Tahoma,Arial,sans-serif;text-align:center;text-decoration:none;position:absolute;bottom:3px;left:0;width:100%;color:#333;" href="https://www.gismeteo.ua/"><span style="color:#0099FF;">Gis</span>meteo</a>
        </div>
    </div>

    <!-- Gismeteo Informer (finish) -->
</div>
