:local {
  .meteo-gov-ua-page-component {
    height: 100%;
    padding: 5px;
    background: grey;

    .row {
      display: flex;
      margin: 0 -5px;
    }

    .cell {
      padding: 0 5px;
      &:first-child {
        width: 700px;
      }
    }
  }
}

