doctype html
head
    meta( http-equiv="Content-type" content="text/html; charset=utf-8")
    link(rel='shortcut icon', href='src/img/icon.ico', type='image/png')
    title Borispol rain
    style.
        body{
            display: none;
        }
    script(src='borispol.radar.min.js')
body
    h4(name='app-name') Borispol radar
    #app

        div
            forecast-component

            bookmark-component

            .router
                transition(name='fade')
                    router-view

