doctype html
head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(name="description" CONTENT="Метеорадар Борисполя")
    meta(property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
    meta(property="og:type"               content="website")
    meta(property="og:title"              content="Метеорадар Борисполя")
    meta(property="og:description"        content="Метеорадар Борисполя")
    meta(property="og:image"              content="http://image/png")
    link(rel='shortcut icon', href='img/icon.png', type='image/png')
    title Борисполь радар
    style.
        body{
            display: none;
        }
body
    h4(name='app-name') Meteo-radar Release date: 2018.03.30 11:40:14
    #app.size-100
        metrica-component
        dialog-component
        .random-background(v-random-background='')
        .app.absolute.size-100.flex.align-items-center
            .app-container.size-100
                div
                    forecast-component
                    bookmark-component
                    .router
                        transition(name='fade')
                            router-view



