doctype html
head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(name="description" CONTENT="Метеоявища")
    meta(name="robots" content="index,follow")
    meta(property="og:url"                content="http://meteo-info.kiev.ua/")
    meta(property="og:type"               content="website")
    meta(property="og:title"              content="Метео Київ")
    meta(property="og:description"        content="Мапа метеоявищ")
    meta(property="og:image"              content="http://meteo-info.kiev.ua/img/ogimg.png")
    meta(property="fb:app_id"             content="1497983696990779")
    link(rel='shortcut icon', href='img/icon.png', type='image/png')
    title Метео Київ
    style.
        body{
            display: none;
        }
body
    h4(name='app-name') Meteo-radar Release date: 2021.06.10 16:47:22
    #app.size-100
        metrica-component
        relocation-warning
        dialog-component
        .random-background(v-random-background='' )
        .app.absolute(v-drag-and-drop='')
            .app-container.size-100
                div
                    forecast-component
                    bookmark-component
                    .router
                        transition(name='fade')
                            router-view



