doctype html
head
    meta(charset='UTF-8')
    link(rel='shortcut icon', href='src/img/icon.ico', type='image/png')
    title Borispol rain
    style.
        body{
            display: none;
        }
    script(src='borispol.radar.min.js')
body
    #app

        div
            div(name='forecast')
                forecast-component
            h4 Borispol radar!
            .bookmark
                router-link(to='/home') Home
                router-link(to='/ired') Ired
                router-link(to='/visible') Visible
            transition(name='fade')
                router-view

