doctype html
head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(name="description" CONTENT="Метеорадар Борисполя")
    meta(name="robots" content="index,follow")
    meta(property="og:url"                content="http://www.borispol.kiev.ua//")
    meta(property="og:type"               content="website")
    meta(property="og:title"              content="Метеорадар Борисполя")
    meta(property="og:description"        content="Карты метеоявлений")
    meta(property="og:image"              content="http://www.borispol.kiev.ua/img/ogimg.png")
    meta(property="fb:app_id"             content="1497983696990779")
    link(rel='shortcut icon', href='img/icon.png', type='image/png')
    title Карты метеоявлений
    style.
        body{
            display: none;
        }
body
    h4(name='app-name') Meteo-radar Release date: 2021.05.14 13:10:10
    #app.size-100
        metrica-component
        dialog-component
        .random-background(v-random-background='' )
        .app.absolute(v-drag-and-drop='')
            .app-container.size-100
                div
                    forecast-component
                    bookmark-component
                    .router
                        transition(name='fade')
                            router-view



