.forecast-3h-component(:title="title", @click="click($event, index)")
    div(:style="{background:color}")
        .time
            | {{date | date('HH:MM')}}
        .img
            img(:src="icon")
            img.clouds(src="img/weather-ico/clouds.png", :style="style")
         .water-container
             img(src="img/waterdrop.png", v-for="d in rain")
        .t(v-html="temp")
