.forecast-3h-component(:title="title")
    router-link(:style="{background:color}", :to="{name: 'forecast-item', params:{index:index}}")
        .time
            | {{date | date('HH:MM')}}
        .img
            img(:src="icon")
            img.clouds(src="img/weather-ico/clouds.png", :style="style")
         .water-container
             img(src="img/waterdrop.png", v-for="d in rain")
        .t(v-html="temp")
