.forecast-3h-component
    div(v-bind:style="{background:color}")
        .time
            | {{date | date('HH:MM')}}
        .img
            img(:src="icon")
            img.clouds(src="img/weather-ico/clouds.png", v-bind:style="style")
        .t(v-html="temp")
