@import "../../../../styl/constant.styl"
.forecast-3h-component
  width 50px
  height 100%
  &>div
    position relative
    height 100%
    border 1px solid $color-border
    .img
      width 48px
      height 48px
      position relative
      img
        display block
        width 100%
        height 100%
        margin-bottom -5px
      img.clouds
        transform-origin 10% 60%
        position absolute
        top 0
        width 100%
    .water-container
      margin-top -5px
      width 100%
      height 10px
      overflow hidden
      img
        width 10px
        margin-right  -1.5px
        height 10px

    .time
      text-align center
    .t
      position absolute
      bottom 0
      text-align center
      width 100%


