@import "../../../../styl/constant.styl"
.forecast-3h-component
  width 50px
  height 100%

  &>div
    position relative
    height 100%
    border 1px solid $color-border
    .time
      text-align center
    .t
      position absolute
      bottom 0
      text-align center
      width 100%


