.forecast-component
    .scrollbar
        .track
            .thumb
                .end
    .viewport
        .overview
            ul.forecast
                li(v-for="day in list")
                    forecast-day-component(:day="day")