@import "../../styl/constant.styl"
.forecast-component
  padding 5px
  height 100px
  border 1px solid $color-border
  ul li
    list-style-type none
    height 100%
    border 1px solid $color-border
    margin 0 2px
  ul
    height 100%
    display flex
