.ukbb-component
    .img-container
        .relative
            .img-ukbb(v-img="staticUrl")
            strip-loader(:load="load")
            player-component(:prefix="prefix", :suffix="suffix", :onload="onload", :type="2")

