.ukbb-component
    .img-container
        .relative
            .img-ukbb(v-img="'http://meteoinfo.by/radar/UKBB/UKBB_latest.png'")
            //player-component(:play="play", :back="back", :forward="forward")

