.ukbb-component
    .title Радар UKBB — ДМРЛ Борисполь. Киев, Украина
    .img-container
        .relative
            .img-ukbb(v-img="vm")
            strip-loader(:load="load")
            player-component(:prefix="prefix", :suffix="suffix", :onload="onload", :type="2")

