<div class="meteo-gov-ua-component">
    <div class="img-container">
        <strip-loader v-bind:load="load" v-visible="stripVisible" ></strip-loader>
        <div class="layer-1">
            <div class="img-pen-rain"  v-if="!!src"  v-img="src"  ref="initialImage" >

            </div>
        </div>
        <div class="layer-2">
            <div ref="container" class="img-pen-rain">
            </div>
            <player-component-2
                    class="player-component-2"
                    :container="container"
                    :geturllist="getUrlList"
                    :start="start"
                    :loadprogress="loadProgress"
            ></player-component-2>
        </div>
    </div>
</div>
