<div :class="style['home-component']" class="home-component">
    <div :class="style.flex">
        <meteo-gov-ua :class="style['meteo-gov-ua-component']"></meteo-gov-ua>
        <div :class="style['ired-visible']">
            <div :class="style['container-ir-vi']">
                <div :class="style.title">Infrared</div>
                <ired-component></ired-component>
            </div>
            <div :class="style['container-ir-vi']">
                <div :class="style.title">Visible</div>
                <visible-component></visible-component>
            </div>
        </div>
    </div>
</div>
