.home-component
    .flex
        openweathermap-component
        div.ired-visible
            .container-ir-vi
                .title
                    | Infrared
                ired-component
            .container-ir-vi
                .title
                    |Visible
                visible-component
