<div class="home-component">
    <div class="flex">
        <meteo-gov-ua class="meteo-gov-ua-component"></meteo-gov-ua>
        <div class="ired-visible">
            <div class="container-ir-vi">
                <div class="title">Infrared</div>
                <ired-component></ired-component>
            </div>
            <div class="container-ir-vi">
                <div class="title">Visible</div>
                <visible-component></visible-component>
            </div>
        </div>
    </div>
</div>
