.home-component
  background white
  width 100%
  height 100%
  //box-shadow 0 0 5px rgba(0,0,0,0.2)
  .flex
    display flex
  .ukbb-component
    margin 0 auto
  .container-ir-vi
    height 50%
    .title
      padding 10px
      height 34px
      text-align center
  .ired-component, .visible-component
    height 220px
    min-width 324px
  @media screen and (max-width: 1000px)
    .ukbb-component
      width 100%
      margin 0 auto
      .img-container
        margin 0 auto
        width 100%
    .title
      display none
    .ired-visible
      height 100%
      width 100%
    .flex
      display block
    .ired-component, .visible-component
      height inherit
      background white
      .img-container
        height 470px
        margin  0 auto
