.ukbb-calc-component
    .flex
        .relative.drawable-container(v-on:mousemove = "mousemove")
            ukbb-component()
            .marker(:style="{top:iam.y+'px', left:iam.x+'px'}")
                .wind-flag
        .calc