@import "../../styl/constant.styl"
.ukbb-calc-component
  height 100%
  position relative
  background white
  .checker-flag
    position absolute
    padding 15px
    left  0
    bottom 0
  .calc
    padding-top 20px
    float right
    width 32%
    .no-meteo-phenomena
      margin-top 20px
      padding 10px
      font-size 16px
      color $color-blue
    .set-flag
        margin-left 80px
    .lng-lat
        margin-left 10px
    .dist
      padding-top 20px
      font-size 12px
      .flex
        margin 5px
        align-items center
      .d
        margin 5px
        width 20px
        height 20px
  .point
    position absolute
    background red
    width 5px
    height 5px
    border-radius 50%
  .marker
    cursor pointer
    position absolute
    width 0
    height 0
    background red
    &:active
      cursor move
    .wind-flag
      opacity 0.7
      width 80px
      height 60px
      background: url("../../img/wind-flag.svg") no-repeat center;
      background-size 99%
      position absolute
      top 0
      z-index 100
      &:hover
        opacity 1
  .reset
    background transparent
    padding 5px 8px
    border 1px solid transparent
    outline none
    border-radius 2px
    cursor pointer
    font-family: Arial, Helvetica, sans-serif
    font-size 14px
    font-weight bold
    color $color-text
    &:active
      color gray
      box-shadow inset 1px 1px 20px rgba(0,0,0,0.2)
      border 1px solid rgba(0,0,0,0.2)

