.ukbb-calc-component
    .relative.drawable-container(@mousemove = "mousemove")
        .calc
            //div lng {{lngLat.lng | toFixed(2)}}
            //div lat {{lngLat.lat| toFixed(2)}}
            .dist
                .flex(v-for="r in rain")
                    .d(:style="{'background-color': r.colorHex}")
                    div(style="clear: right") {{r.dist | toFixed(2)}} km

        ukbb-component(:staticLoad="onload")
        .marker(:style="{top:iam.y+'px', left:iam.x+'px'}", @mousedown="mousedown")
            .wind-flag
