@import "../../styl/constant.styl"
.ukbb-calc-component
  height 100%
  position relative
  background white
  .calc
    padding-top 20px
    float right
    width 32%
    .no-meteo-phenomena
      margin-top 20px
      padding 10px
      font-size 16px
      color $color-blue
    .set-flag
        margin-left 80px
    .lng-lat
        margin-left 10px
    .dist
      padding-top 20px
      font-size 12px
      .flex
        margin 5px
        align-items center
      .d
        margin 5px
        width 20px
        height 20px
  .marker
    cursor pointer
    position absolute
    width 0
    height 0
    background red
    &:active
      cursor move
    .wind-flag
      opacity 0.7
      width 80px
      height 60px
      background: url("../../img/wind-flag.svg") no-repeat center;
      background-size 99%
      position absolute
      top 0
      z-index 100
      &:hover
        opacity 1