.ukbb-calc-component
    .relative.drawable-container(@mousemove = "mousemove")
        .calc
            div lng {{lngLat.lng | toFixed(2)}}
            div lat {{lngLat.lat| toFixed(2)}}
        ukbb-component(:staticLoad="onload")
        .marker(:style="{top:iam.y+'px', left:iam.x+'px'}", @mousedown="mousedown")
            .wind-flag
