<div class="openweathermap-component">
    <div class="img-container relative">
        <strip-loader v-bind:load="load"></strip-loader>
        <div class="layer-1">
            <div class="img-pen-map" v-img="mapUrl">

            </div>
        </div>
        <div class="layer-2">
            <div class="img-pen-rain" v-img="rainUrl" ref="initialImage">
            </div>
            <div class="img-pen-rain" ref="container">
            </div>
            <player-component-2
                    :container="container"
                    :getUrlList="getUrlList"
                    :start="start"
            ></player-component-2>
        </div>
    </div>
</div>
