.mr-metrica-component
  display block
  position fixed
  right 0
  top 0
  z-index 5
  opacity 0.8
  font-size 12px
  color white
  text-shadow 0 0 5px black
  box-shadow 0 0 5px black
  padding 5px 15px
  &>.flex>div
    margin 0 5px
    &.c
      border-radius 50%
      color #8ec9ff
