.infomometr-component
    .meteo-ua.padding-15
        #MeteoInformerWrap
    .gismeteo.padding-15
        //link(rel='stylesheet', type='text/css', href='https://s1.gismeteo.ua/static/css/informer2/gs_informerClient.min.css')
        #gsInformerID-3s107dBo3B71DS.gsInformer(style='width:320px;height:183px')
            .gsIContent
                #cityLink
                    a(href='https://www.gismeteo.ua/weather-kyiv-zhuliany-14411/', target='_blank') Погода Киев (Жуляны) (а/п)
                |
                .gsLinks
                    table
                        tr
                            td
                                .leftCol
                                    a(href='https://www.gismeteo.ua', target='_blank')
                                        img(alt='Gismeteo', title='Gismeteo', src='https://s1.gismeteo.ua/static/images/informer2/logo-mini2.png', align='absmiddle', border='0')
                                        |
                                        span Gismeteo
                                |
                                .rightCol
                                    a(href='https://www.gismeteo.ua/weather-odessa-4982/', target='_blank') Погода на 2 недели
