.player-component(:style="{color: processColor}")
    .fa.fa-step-backward( aria-hidden="true", @click="onBack") &#9664;
    .fa.fa-play( aria-hidden="true", @click="onPlay" ) &#9655;
    .fa.fa-step-forward( aria-hidden="true", @click="onForward" ) &#9654;




