.player-component(:style="{color: processColor}")
    b.fa.fa-step-backward( aria-hidden="true", @click="onBack") |&#9664;
    b.fa.fa-play( aria-hidden="true", @click="onPlay" ) &#9655;
    b.fa.fa-step-forward( aria-hidden="true", @click="onForward" ) &#9654;|




