.player-component(v-bind:style="{color: processColor}")
    i.fa.fa-step-backward( aria-hidden="true", @click="onBack")
    i.fa.fa-play( aria-hidden="true", @click="onPlay" )
    i.fa.fa-step-forward( aria-hidden="true", @click="onForward" )




