.player-component
  display flex
  position absolute
  bottom 0
  i
    display block;
    padding 5px;
    width 30px
    text-align center
    border 1px solid grey
    background-color white
    border-radius 5px

