@import constant
*
  margin 0
  padding 0
html
  width 100%
  height 100%
body
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  color  $color-text
  //background: radial-gradient(ellipse at center, #fff 0, #fff 60%, #f8ffe8 70%, #60c5c5 100%);
  background black
  height: 100%;

.fade-enter-active
  transition: opacity .5s
  opacity 0
  //position absolute
  //top 0
.fade-leave-active
  transition: opacity .5s

  position absolute
  top 0
.fade-enter-to
  //opacity: 0
.fade-enter-to
  opacity: 1

.fade-leave-to
  opacity: 0

.router
  position relative
body
  position: relative
  display flex
  align-items center
[name='app-name']
  position absolute
  left 0
  top 0
  padding 5px 10px

*
  box-sizing border-box
.border-hidden
  border-top 1px solid transparent
  margin-top -1px
#app
  max-width 1000px
  min-width 1000px
  margin 0 auto
  height 650px
  &>div
    height 100%
    .router
      height:calc(100% - 136px);
.relative
  position relative
@media screen and (max-width: 1000px)
  #app
    min-width 100%
  [name='app-name']
    display none  


