@import constant
*
  margin 0
  padding 0
html
  width 100%
  height 100%
body
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  position: relative
  color  $color-text
  background black
  height: 100%;
  display block
  background:radial-gradient(ellipse at center, #fff 0, #f4fded 70%, #e8f9b4 80%, #60d456 100%);

.fade-enter-active
  transition: opacity 0.7s
  opacity 0
  position absolute
  top 0
  width 100%
.fade-leave-active
  transition: opacity 0.7s
  width 100%
  position absolute
  top 0
.fade-enter-to
  //opacity: 0
.fade-enter-to
  opacity: 1

.fade-leave-to
  opacity: 0

.router
  position relative
  background white
.size-100
  width 100%
  height 100%
.height-100
  height 100%
.width-100
  width 100%
.text-center
  text-align center
.tex-right
  text-align right
.tex-left
  text-align left

.align-items-center
  align-items center
.app
  z-index 1
  min-height 700px

.app-container
  max-width 1000px
  border-radius 4px
  overflow hidden
  min-width 1000px
  margin 0 auto
  height 670px
  box-shadow 2px 2px 5px rgba(0,0,0,0.3)
  &>div
    height 100%
    .router
      height:calc(100% - 156px);
[name='app-name']
  position absolute
  font-size 12px
  text-shadow  0 0 5px black
  right  0
  color white
  bottom  0
  z-index 2
  padding 5px 10px
*
  box-sizing border-box
.border-hidden
  border-top 1px solid transparent
  margin-top -1px
.relative
  position relative
.absolute
  position absolute
  left 0
  top 0
.flex
  display flex
.align-items-center
  align-items center

.justify-center
  justify-content center
.margin-15
  margin 15px
.margin-0-15
  margin 0 15px
.padding-15
  padding 15px
.blue
  color $color-blue
.text-normal
  font-size 14px
  font-weight normal
.margit-bottom-15
  margin-bottom 15px
.padding-5
  padding 5px

.random-background
  position absolute
  z-index 0
  width 100%
  height 100%



