@import "../../styl/constant.styl"
.forecast-item-component
  padding 15px
  height 100%
  .item
    margin 0 auto
    height 100%
    width 360px
    border-radius 3px
    border 1px solid $color-border
  table
    tr td
      width 50%