.forecast-item-component
    .item(:style="{'background-color': color}")
        div.text-center.padding-15 {{dt_txt}}
        div
            table.width-100
                tr(v-for="(item, key) in main")
                    td.tex-right.margit-bottom-15.padding-5 {{key}}
                    td.margit-bottom-15.padding-5 {{item}}
                //tr(v-for="(item, key) in hh.weather[0]")
                    td.tex-right.margit-bottom-15.padding-5 {{key}}
                    td.margit-bottom-15.padding-5 {{item}}
                tr(v-for="(item, key) in clouds")
                    td.tex-right.margit-bottom-15.padding-5 {{key}}
                    td.margit-bottom-15.padding-5 {{item}}


