@import "../../styl/constant.styl"
.forecast-item-component
  padding 15px
  height 100%
  .item
    margin 0 auto
    height 100%
    width 360px
    border-radius 3px
    border 1px solid $color-border
    img.icon
      display block
      margin 0 auto
      width 140px
      height 140px
    img.clouds
      position absolute
      left 95px
      bottom 40px
    .water-container
      margin-top -5px
      width 140px
      margin 0 auto
      height 30px
      overflow hidden
      text-align center
      img
        width 25px
        margin-right  -1.5px
        height 25px
    span.wind-deg
      display inline-block
      text-align center
      width 20px

  table
    tr td
      width 50%