.ired-component
    .img-container.relative
        .img-sat(v-img="initSrc")
        strip-loader(v-bind:load="load")
        player-component(:prefix="prefix", :suffix="suffix", :variables="variables", :onload="onload")

