.android-component
  .title
    margin-left 15px
  .play-img
    width 200px
    height 40px
    float left
  img
    width 100%
    height 100%
  .a-images
    .img
      width 200px
      height 360px
      margin 15px
