.android-component
    .title
        .flex
            .play-img(v-img="'https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png'")
            h3.blue.padding-15
                a(href="https://play.google.com/store/apps/details?id=com.atlas.mars.weatherradar", target="_blank") WeatherCheater
    .text-normal.padding-15
        b Установка карт
        | -> Зайти в настройки -> "Скачать настройки" -> "Сохранить и закрыть"
    .flex.justify-center.a-images
        .img(v-img="'img/android-component/01.png'")
        .img(v-img="'img/android-component/02.png'")
        .img(v-img="'img/android-component/03.png'")
        .img(v-img="'img/android-component/04.png'")
